@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');

body{
    font-family: Merriweather, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    margin: 0;
}

/*headings and logos*/
header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 60px;
    width: 100%;
  }

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525
}
h3{
    font-family: Roboto, sans-serif;
    letter-spacing: 4px;
    color: #252525;
    font-size: x-large;
}
#logo{
    float: left;
    margin-left: 25px; 
    width: 33%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 25px;
    letter-spacing: 4px;
}
#menu a{
    text-decoration: none;
    color: inherit;
    font-size: large;
    
}
#menu a:hover{
    border-bottom: 2px solid #433d3d;
    border-top: 2px solid #433d3d;
    color: #252525;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}







/*Main image*/

#flag-image {
    height: 1000px;
    width: 100%;
    background: url('../images/SwissBG.JPG') no-repeat center center ;
    /*animation for zoom effect*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    text-align: center;
    opacity: 85%;
    margin-top: 0;
}
#flag-outer{
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: center;
}
sup {
    font-size: 40%;
}
#centered-text {
position: absolute;
top: 44%;
left: 43%;

margin-left: auto;
margin-right: auto;
}

#centered-text h2 {
    
    font-size: medium;
}
#centered-text h1,h2 { 
    color: black; 
    text-align: center;
    font-size: xx-large;
    font-family: Roboto, sans-serif; 
}





  /*creates animation, change this to something better*/
@keyframes hero-zoom 
{
from {
    transform: scale(1);
}

to{
    transform: scale(1.1);
}
}




  /*Group Sections */

  #group-paragraphs {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    
  }
  #group-paragraphs p {
    font-size: 16px;
    width: 60%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

    
  }
  #group-paragraphs h3 {
    font-size: 30px;
    padding-top: 2%;
  }






  #groupsections{
    padding-top: 3%;
    height: 2500px;
  }

  #group{
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

#left-about {
    padding-top: 20px;
    width: 33%;
    float: left;
    
}

#right-about {
    padding: 20px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    
}



.left-about-heading{
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    padding-left: 10%;
}

.right-about-heading{
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    padding-right: 10%;
}
.right-about-heading h3{
    text-align: left;
}
.right-about-heading p{
    text-align: right;
}
.left-about-heading, .right-about-heading {
    width: inherit;
}
.left-about-heading h3, .right-about-heading h3 {
    width: 100%;
    text-align: left;
    
} 
.left-about-heading p, .right-about-heading p {
    text-align: left;
    padding: 0 2px;
    width: 100%;
}



#circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-beavers{
    background: url('../images/beavers.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-cubs{
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-scouts{
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#circle-cover-ventures{
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}


#dayTimes {
    background-image: url('../images/dublin-city.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    padding-top: 3%;
   }
   
   #dayTimes div {
   color: #fafafa;
   background-color: #252525;
   width: 20%;
   height: 200px;
   float: left;
   padding: 30px 0 0 10;
   text-align: center;
   border: 1px solid white ;
   box-sizing: border-box;
   }
   
   #dayTimes h2 {
       color: #fafafa
   }
   